body {
  position: absolute;
  max-width: 390px;
  height: 718px;
  padding-left: 0;
  margin-left: 0;
  overflow-x: hidden !important;
}

.background {
  background-image: url("images/header-shapes-mobile.png");
  background-repeat: no-repeat;
  background-size: 375px 600px;
  margin-top: 50px;
}

section {
  display: flex;
  height: 600px;
}

section h1 {
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  position: static;
  height: 150px;
  width: 327px;
  display: flex;
  align-items: center;
  margin: 100px 20px 12px;
}

section p {
  color: #344563;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  position: static;
  width: 325px;
  margin: 12px 0;
  margin-left: 20px;
}

section h4 {
  position: static;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 20px;
}

ul {
  margin-top: -13px;
  width: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  margin-left: 20px;
}

ul li {
  list-style: none;
}

header nav a {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  display: inline-flex;
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 0 0;
  margin-left: 20px;
}

nav img {
  margin-right: 20px;
}
