body {
  position: absolute;
  width: 390px;
  height: 718px;
  margin-left: 30px;
  background-image: url("images/header-background-mobile.png");
}

section {
  display: flex;
  height: 500px;
  margin-top: 85px;
}

section h1 {
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  position: static;
  height: 150px;
  width: 327px;
  display: flex;
  align-items: center;
  margin: 50px 0 12px;
}

section p {
  color: #344563;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  position: static;
  width: 327px;
  height: 146px;
  left: 24px;
  top: 276px;
  margin: 12px 0;
}

section h4 {
  position: static;
  width: 120px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.ellipse3 {
  position: absolute;
  width: 105px;
  height: 105px;
  left: 305px;
  top: 142px;
}

.ellipse4 {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 250px;
  top: 654.1px;
}

.ellipse5 {
  position: absolute;
  width: 13px;
  height: 10px;
  left: 100.98px;
  top: 118.81px;
  background: #cbcdff;
  transform: rotate(45.97deg);
  border-radius: 50%;
}

.ellipse8 {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 214px;
  top: 70px;
  background: #fff;
  box-sizing: border-box;
}

.ellipse11 {
  position: absolute;
  height: 36.25px;
  width: 43.5px;
  top: 90.47px;
  left: -42.96px;
}

.ellipse12 {
  position: absolute;
  width: 32.14px;
  height: 16.07px;
  left: 294.7px;
  top: 506.69px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background: #6070ff;
  transform: rotate(-169.08deg);
}

.ellipse13 {
  position: absolute;
  width: 30.1px;
  height: 30.1px;
  left: 293.18px;
  top: 524.44px;
  background: #ebebff;
  transform: rotate(-11.9deg);
}

.ellipse15 {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 30px;
  top: 630px;
  background: #fff;
  box-sizing: border-box;
}

.rectangle4 {
  position: absolute;
  width: 111px;
  height: 70.02px;
  left: 284px;
  top: 108.79px;
  transform: rotate(-5deg);
}

.rectangle5 {
  position: absolute;
  left: 230px;
  top: 662.1px;
}

.rectangle6 {
  position: absolute;
  top: 75px;
  left: -32px;
  height: 46px;
  width: 23px;
  transform: rotate(-14deg);
}

.rectangle7 {
  position: absolute;
  width: 24.46px;
  height: 4.73px;
  left: 100.18px;
  top: 115.59px;
  background: #6070ff;
  transform: matrix(0.76, 0.65, 0.65, -0.76, 0, 0);
}

ul {
  margin-top: -13px;
  width: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
}

ul li {
  list-style: none;
}

header nav a {
  position: static;
  width: 320px;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  display: inline-flex;
  margin-top: 20px;
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 50px 0 0;
}
